body{
	-webkit-text-size-adjust:none;
	text-size-adjust:none;
	font-size:1.2em;
}
 .main_content {
	font-weight:bold;
	font-size:30px;
	margin-right:5px !important;
	margin-top:-80px !important;	
}

h4 {
	font-size:24px !important;
}
.myorder, .myorder #myorderNum {
	font-size:1.6em !important;
}
.myorder #myorderExpandCollapse {
	font-size:32px !important;
}
.price {
	font-size:44px;
}
.orderDish, #chooseMenu, .outoforderDish {
	font-size:52px !important;
}
#chooseMenu {
	height: 65px !important;
}
.tabs li a {
	height: 55px !important;
}
#itemFilter {
	height: 62px !important;
}
.categoryLink {
	font-size:44px !important;;
}

td, th {
	font-size: 37px !important;
	font-weight:bold;
}
#confirm_order {
	margin-right:15px !important;
	font-size: 44px;
}

#minus_qty_img, #add_qty_img, #del_img
{
	width:60px !important;
}

input, textarea {
    font-size: initial;
}
.note_input, .qtyValue {
	font-size:1.6em !important;
}
.note_input:focus, #itemFilter:focus, .qtyValue { font-size: 1.6em !important;}
.categoryName {
	font-size: 42px !important;
}
.qtyValue {
	width:110px!important;
}
.price {
	font-size: 42px !important;
}
.description {
	height:260px;
	overflow-y:scroll;
	font-size:35px !important;
}

.itemName,.maincontntWord {
	font-size:42px !important;
}
#resName {
	font-size:50px !important;
}
#logout {
height: 55px !important;
font-size:45px !important;
width: 170px !important;
}
.pictureslider img{
margin-top: -55px !important;
}
#loginForm {
	/*background-color: rgba(0, 250, 0, 0.6);*/
	max-width:500px;
	margin:auto; 
	border-radius:4px; 
	margin-top:-10px;
	padding-bottom:20px;
	/*min-height:650px;*/
}