@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/*margin: 0;*/
	padding: 0;
	color: #000;
	font-size:1.4em;
}
h1 { 
    
}
td, th {
	vertical-align:top;
	font-weight:bold;
}
	
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 10px;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	/*padding-right: 15px;
	padding-left: 15px;*/
	
	}
h1 {
	color:red;
	text-align:center;
	font-size:1.7em !important;
}
h2 {
	color:red;
}
.welcomeTableLogin {
text-align:center;
}
#tableLoginAddress  {
margin-top:-20px;
text-align:center;
text-align:center;
font-size:16px !important;
font-weight:bold;
color:white
}
/* Nav*/
#main_nav {
	margin-bottom:30px;
}
#main_nav ul {
	list-style-type:none;
	padding:0;
	width:1000px;
	margin: 0 auto;
}
#main_nav li {
	width:200px;
	float:left;
}
#main_nav a {
	background-color: #419CFC;
	color:white;
	display: block;
	text-decoration: none;
	font-size:0.7em;
	text-align:center;
	font-weight:bold;
	padding:5px;
	border: solid 1px white;
	height:23px;
	overflow:hidden;
}
#main_nav li ul {
	position:absolute;
	left:-9999px;
	width:150px;
}

#main_nav li:hover ul{
	left:auto;
	z-index:11;
}

#main_nav  li  ul li  ul{   
    display:none;
}
#main_nav li  ul li:hover  ul{
    display:block;
    position:absolute;
    left:199px;
	margin:-2px 0 0 1px;
    top:2px;
    width:150px;
}
#main_nav a:hover {
	background-color: red;
}

#main_nav li.current a {
	background-color: lightgrey;
}

#main_nav a:active{
	background-color: red;
	color: white;
}
#main_nav  input {
	display:none;
}

#log_in_name {
	position:absolute;
	top:10px;
	right:10px;
}

#logout_link {
	position:absolute;
	top:35px;
	background-color:grey;
	right:10px;
	color:white;
	text-decoration:none;
	padding:3px;
}

#logout_link:hover {
	background-color:red;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
.CheckBoxShowCustomer {
	text-align: left;
	font-size: 12px;
}

a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */

}

.tabs {
  list-style-type: none;
  margin-bottom: 29px;
  border-radius: 5px;
  padding: 0 !important;
  
}
.tabs li {
  /*border: gray solid 1px;*/
  /*border-bottom: none;*/
  /*float: left;*/
  margin: 0 2px 0 0;
  margin-bottom:8px;
  padding: .2em .5em;
  border-radius: 3px;
  /*border-top-right-radius: 3px;*/
  width:450px;
  background: #419CFC;
  border: #419CFC solid 1px;
  border-bottom: none;
}
#itemFilter {
	width:450px;
	margin-left:70px;
	height:55px;
	font-size:28px;
	float:right;
	border: gray solid 1px;
}
.tabs li a {
  color: white;
  font-weight: bold;
  font-size:30px;
  min-height:45px;
  text-decoration: none;
  display: block;
  width:450px;
}
#chooseMenu img {
	width:85px;
	margin-top:6px;
}

.tabs li.active, .tabs li.current, .tabs li:hover {
  background: red !important;
  border: red solid 1px !important;
  border-bottom: none;
}
.tabs li.active a, .tabs li.current a, .tabs li:first-child a{
  color: white;
}

.container {
	width: 1000px;
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	overflow: hidden; /* this declaration makes the .container understand where the floated columns within ends and contain them */
	padding:10px;
	position:relative;
}

#content {
	width:960px; margin:0 auto;
	min-height:550px;
	background-color: white;
}
.menu_pic {
	width:450px;
	float:left;
	/*margin-bottom:100px;*/
}
.main_content {
	background-color: rgba(0, 0, 0, 0.5);
    /*top: 123px;*/
    width: 450px;
    position: absolute;
    margin-bottom: 100px;
    font-weight: bold;
    color: white;
}

.description {
	height:270px;
	overflow-y:scroll;
	display: none;
}

.reReviews {
	width:320px;
	margin-left:40px;
	float:left;
	margin-bottom:30px;
}
button {
	background: #419CFC;
	color:white;
	font-weight:bold;
	-webkit-tap-highlight-color:red;
	border-radius: 5px;
	
}
button:focus {
	background: red;
}
button:active {
	background: red;
}
#confirm_order {
	
	/*margin-right:210px !important;*/
	font-weight:bold;
	font-size:1.4em;
	float:right; 
	width: auto;
	height: auto;
	padding: 5px 8px;
	background-color: #419CFC;
	text-align: center;
	border-radius: 5px;
	color: white !important;
	text-decoration: none !important;
	
}

thead th {
	background-color:#419CFC;
	color:white;
}
tr:nth-child(even) {background: rgba(65,156,252,0.1);}
tr:nth-child(odd) {background: #FFF;}

::-webkit-input-placeholder {
   color:black;
}

:-moz-placeholder { /* Firefox 18- */
   color:black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:black;
}

:-ms-input-placeholder {  
   color:black;
}

input {
	
	border: 1px solid black;
	border-radius: 3px !important;
}
.outoforderDish {
	display: inline;
	width: 85px;
	height: 20px;
	background-color: lightgrey;
	padding: 2px 5px;
	text-align: center;
	border-radius: 5px;
	color: white !important;
	font-weight: bold;
	margin-top: 5px;
	text-decoration: none !important;
	font-size:22px;
}
.orderDish,.orderDishHasSize, .submitButton, .cancelButton {
	display: inline;
	width: 85px;
	height: 20px;
	background-color: #419CFC;
	padding: 2px 5px;
	text-align: center;
	border-radius: 5px;
	color: white !important;
	font-weight: bold;
	margin-top: 5px;
	text-decoration: none !important;
}
.cancelButton {
	margin-left:10px;
}
.orderDish:hover, .orderDishHasSize:hover, #confirm_order:hover {
	background-color:red;
}

#logout {
	position:absolute;
	right:10px;
	top:10px;
	display: inline;
	width: 150px;
	font-size: 30px;
	height: 40px;
	background-color: red;
	padding: 2px 5px;
	text-align: center;
	border-radius: 5px;
	color: white !important;
	font-weight: bold;
	margin-top: 5px;
	text-decoration: none !important;
}
#userChangeTableID
{
	min-width:185px;
	font-size:34px;
	position:absolute;
	top:14px;
	left:12px;
	font-weight:bold;
}

.add_qty img
{
width:40px;
margin-right:30px;
margin-top:8px;
float:right;
}
.minus_qty img
{
width:40px;
margin-left:30px;
margin-top:8px;
float:left;
}
.del img 
{
width:40px;
margin-top:8px;
float:right;
margin-right:15px;
margin-top:8px;
}

.qtyValue {
font-size: 30px;
width: 150px;
}

.note_input {
font-size: 22px;
}

.maincontntWord,.price {
font-size: 25px;
}

.orderDish, .outoforderDish,.orderDishHasSize {
font-size: 30px;
}

.itemName p {
/*max-width:500px;*/
word-wrap:break-word;
font-size: 30px;
}
#loginForm {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	margin:auto; 
	border-radius:4px; 
	margin-top:-10px;
	padding-bottom:20px;
	/*min-height:650px;*/
}

footer {
width: 100%;
bottom: 0px; 
left: 0px; 
font-size:20px;
font-weight:bold;
text-align: center; 
background-color: rgba(0, 0, 0, 0.5);
height:50px;
}
#footerWord {
color:white;
}
.submitLogin
{
-webkit-appearance: none;
background  : none !important;
cursor  : pointer;
border  : none;
margin      : 0px;
/*padding     : 0px;*/
border-radius: 5px;
font-weight:bold;
padding:0px 8px;
font-size:36px;
background-color: red !important;
color:white;
-webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
}
#ls_form {
width:400px !important;
}
#ls_result_div {
width:400px !important;
border:none;
}
.ls_container {
width:400px !important;
}
#resSearch {
width:450px !important;
margin: auto;
}
#customerInfo input {
font-size:23px;
}
.itemContainer {
    position: relative;
    width: 480px;
    /* clear: both; */
    height: 530px;
    /* margin-top: 10px; */
	margin-bottom:55px;
    float: left;
}
.zoomImg {
width:50px;
position:absolute;
bottom:7px;
left:0;
}
.sliderImg {
	height: 405px;
	max-width: 450px;
}
#boxtitle {
width:100% !important;
}
#lightbox_form {
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
.breakedLine {
display:none;
}
/*
.itemName {
height:50px;
}
.itemName p{
height:40px;
overflow:hidden;
}*/