body{
	-webkit-text-size-adjust:none;
	text-size-adjust:none;
	font-size:1.2em;
}
 .main_content {
	font-weight:bold;
	font-size:30px;
	margin-right:5px !important;
	margin-top:-10px !important;	
}

h4 {
	font-size:24px !important;
}
.myorder, .myorder #myorderNum {
	font-size:1.6em !important;
}
.myorder #myorderExpandCollapse {
	font-size:32px !important;
}
.price {
	font-size:44px;
}
.orderDish,.orderDishHasSize, #chooseMenu {
	font-size:52px !important;
}
.outoforderDish {
	font-size:42px !important;
}
#chooseMenu {
	height: 65px !important;
}
.tabs li a {
	min-height: 55px !important;
}
#itemFilter, #itemFilter:focus {
	height: 75px !important;
	font-size: 2em !important;
}
.categoryLink {
	font-size:44px !important;;
}

td, th {
	font-size: 37px !important;
	font-weight:bold;
}
#confirm_order {
	margin-right:15px !important;
	font-size: 44px;
}

#minus_qty_img, #add_qty_img, #del_img
{
	width:60px !important;
}

input, textarea {
    font-size: initial;
}
.note_input, .qtyValue, #tablePin input, #noteAddress input, #customerNote input{
	font-size:42px !important;
}
.note_input:focus, .qtyValue { font-size: 1.5em !important;}
.categoryName {
	font-size: 42px !important;
}
.qtyValue {
	width:110px!important;
}
.price {
	font-size: 42px !important;
}
.description {
	height:260px;
	overflow-y:scroll;
	font-size:35px !important;
}

.itemName p {
	font-size:42px !important;
}
.itemName p {
	margin-bottom:50px !important;
}
#resName {
	font-size:50px !important;
}
#logout {
height: 55px !important;
font-size:45px !important;
width: 170px !important;
}
.pictureslider img{
margin-top: -55px !important;
}
#userChangeTableID
{
	width:230px !important;
	font-size:44px !important;
}
#ls_form, #ls_result_div,.ls_container {
width:300px !important;
}
#resSearch {
width:300px !important;
margin: auto;
}
.menu_pic{
width: 480px!important;
margin-bottom:100px!important;
}
.zoomImg {
right:0px!important;
}
.sliderImg {
max-height:450px!important;
width:480px!important;
}
.main_content {
width:455px!important;
margin-top: -55px!important;
}
.sizeName {
	font-size:40px!important;
}
#box {
height:800px !important;
margin: 0 auto;
font-size:52px !important;
}
.sizeName, .maincontntWord, .item_size, .submitButton, .cancelButton {
font-size:52px !important;
}