#filter
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #CCA;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}
#box 
{
	display: none;
	position: absolute;
	padding: 0px;
	margin:0;
	border: 1px solid black;
	background-color: white;
	z-index:9990;
	overflow: visible;
}
#lightbox_form_test{	background-color: white;	width:100%;}
#boxtitle
{
	position:absolute;
	float:center;
	top:0;
	left:0;
	padding:0;
	padding-top:4px;
	left-padding:8px;
	margin:0;
	/*border-bottom:4px solid #3CF;
	background-color: #09c;*/
	border-bottom:4px solid grey;
	background-color: #419CFC;
	color:white;
	text-align:center;	z-index:9995;
}